<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bike Service{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {%  block header %}
        <nav>
            <ul>
                <li>Home</li>
                <li>Login</li>
            </ul>
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
